**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/npm-debug.log
**/Dockerfile*
**/docker-compose*
**/.git/
**/.gitignore
**/README.md
**/LICENSE
**/.env
**/secrets.json
**/*.db
**/*.db-shm
**/*.db-wal
**/appsettings.Development.json